<div class="fm-entry" data-context="#context-menu">
    <div class="fm-entry-index">{{ index }}</div>
    <div class="fm-entry-name">{{ name }}</div>
    <div class="fm-entry-date">{{ last_edit }}</div>
    <div class="fm-entry-size">{{ size }}</div>
</div>
<div>

</div>