<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/xapifsmanager/build/app.css') }}">
</head>
<body>
<div id="root">
</div>
<script type="text/javascript" src="{{ asset("bundles/xapifsmanager/build/vendors-node_modules_reduxjs_toolkit_dist_redux-toolkit_esm_js-node_modules_core-js_modules_e-f93b65.js") }}"></script>
<script type="text/javascript" defer="defer" src="{{ asset('bundles/xapifsmanager/build/app.js')}}"></script>
</body>
</html>