<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/xapifsmanager/build/app.css') }}">
</head>
<body>

<div id="root">
</div>
<script type="text/javascript" defer="defer" src="{{ asset('bundles/xapifsmanager/build/app.js')}}"></script>
</body>
</html>